# Application Configuration
APP_NAME=cheetah
APP_VERSION=1.0.0
APP_ENV=development
REPO_DIR=repo

# Download Configuration
DOWNLOAD_BATCH_SIZE=50
DOWNLOAD_MAX_ERRORS=100
DOWNLOAD_ROUTINE_ERR_MAX=10

# HTTP Configuration
HTTP_TIMEOUT=30s
HTTP_MAX_RETRIES=3
HTTP_RETRY_DELAY=1s
HTTP_MAX_CONCURRENCY=50
HTTP_USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"

# Logging Configuration
LOG_LEVEL=info
LOG_PRETTY=true
